<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.monroe.org.meetpy" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMeetPy"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScriptSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ServerConfigurationActivity"
            android:label="@string/title_activity_server_configuration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ScriptExecutionActivity"
            android:label="@string/title_activity_script_execution"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ServerDashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServerTaskActivity"
            android:label="@string/title_activity_server_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ServerScriptActivity"
            android:label="@string/title_activity_server_script" >
        </activity>
        <activity
            android:name=".ServerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transperent.NoAnimation"
            android:label="@string/title_activity_server_view" >
        </activity>
    </application>

</manifest>
